*{
    display: inline;
}
.imagenes{
    height: 30%;
    width: 60%;
    position: relative;
}
.serie{
    text-align: center;
    width: 25%;
    position:relative;
    display: inline-block;
    margin-top:2%;
}