body{
    width: 100%;
    height: 100%;
}
#inicio{
    width: 100%;
    height: 100%;
}
#inicio > h1{
    text-align: center;
    padding-top: 2%;
}
#inicio > p{
    text-align:center;
    padding-top: 5px;
}
#pie{
    width: 80%;
    height: 60vh;
    margin:2% 10% 0 10%;

}
.image{
    width: 33%;
    height: 50vh;
    float:left;
    position:relative;
}
.foto{
    width: 98%;
    height: 100%;
}
#pie p{
    text-align: center;
    margin-top: 2%;
    text-decoration: underline;
    
}