/* Estilos de la barra de navegación */
.navbar {
    background-color: #343a40;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 1200px;
    margin: auto;
}

.nav-item {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s;
}

.nav-item:hover {
    background-color: #495057; /* Color de fondo en hover */
    border-radius: 5px; /* Bordes redondeados */
}

.logo {
    width: 80px; /* Ajusta el tamaño según sea necesario */
    height: auto; /* Mantiene la proporción */
    margin-right: 0; /* Espaciado entre el logo y el texto */
    vertical-align: middle; /* Alineación vertical */
}
