.info{
    width: 100%;
    height: auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

#foto{
    width: 50%;
    text-align: center;
}
.imagenes{
    padding: 20px;
    width: 50%;
    border: 2px solid red;
}
.imagenes:hover{
    border:none;
    padding:22px
}
#contenido h1{
    padding-bottom: 40px;
}
#contenido h1:hover{
    color:red;
    text-decoration: underline;
}
#contenido p:hover{
    color:red
}
#contenido{
    width: 50%;
    text-align: center;
    border-radius: solid 2px red;   
}