<div class="parent-container">
    <div class="input-group">
        <label class="label" for="nameInput">Nombre</label>
        <input class="custom-input" type="text" id="nameInput" [(ngModel)]="input_nombre"/>
        <button class="btn add" type="button" id="button-addon1" (click)="addPersona()">Add</button>
        <button class="btn remove" type="button" id="button-addon1" (click)="removePersona()">Remove</button>
    </div>

    <ul class="nombre-list">
        <li class="nombre-item" *ngFor="let n of list">{{ n }}</li>
    </ul>
</div>
